body {
    font-family: "LXGW WenKai", sans-serif;
    /* Lite version */
    /* font-family: "LXGW WenKai Lite", sans-serif; */
    /* TC version */
    /* font-family: "LXGW WenKai TC", sans-serif; */
    /* Screen version */
    /* font-family: "LXGW WenKai Screen", sans-serif; */
    
  }
h1 ~ p {
  text-indent: 30px;
}

img{
  border-radius: 10px;
  /* border-style: solid 2px #000000; */
}

div p[class^=""]{
  text-indent: 20px;
}

p:has(img){
  /* width: 80%; */
  text-indent: 0px
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

strong {
  text-shadow: 0.7px 0px;
  /* text-shadow: 0 0 1px #ffffff; */
  
}
/* 
#animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 5px;
  animation-direction: alternate;
  animation-timing-function: ease;
  resize: both;
  overflow: auto;;
  max-width: 100px;
}

#animation:hover {
  animation-play-state: paused;
}

@keyframes example {
  0%   {background-color:red; left:0%; top:0px;}
  25%  {background-color:yellow; left:85%; top:0px;}
  50%  {background-color:blue; left:0%; top:0px;}
  75%  {background-color:green; left:85%; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
} */